# Text files (usually for configuration of the node)
*.txt
!CMakeLists.txt

# Files that are congifured by CMake
include/influxdb_brdige_cpp/defines.hpp

# Editor files
*.swp
*.swo
*.swn
compile_commands.json
.vscode/
.cache/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
